<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAYfUFRRofhK2PQvC1t2N3mwD-y607tUQI</string>
	<key>GCM_SENDER_ID</key>
	<string>589976586335</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>hypocrates-book</string>
	<key>STORAGE_BUCKET</key>
	<string>hypocrates-book.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:589976586335:ios:0af548a79c31baea4cf3ea</string>
	<key>DATABASE_URL</key>
	<string>https://hypocrates-book-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>